.experience-card{
    transition: 500ms;
    position: relative;
    margin: 10px;
    border-radius: 20px;
    text-align: left;
    width: 22vw;
    height: 100%;
    background-color: #88050750;
    cursor: pointer;
    @media screen and (max-width: 1600px) {
        width: 300px;
        margin: 0px 10px;
        padding-bottom: 20px;
    }
    @media screen and (max-width: 1300px) {
        width: 250px;
        margin: 10px;
    }
    .logo-container{
        display: block;
        justify-content: center;
        align-items: center;
        
        .banner-image{
            overflow: hidden; 
            height: 60px;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            justify-content: center;
            img{
                width: 100%;
                height: 70px;
                object-fit: cover;
            }
        }
        .logo-image{
            position: relative;
            bottom: 20px;
            left: 10px;
            img{
                width: 20%;
                border: 5px solid black;
            }
        }
    }
    .text-container{
        padding: 0px 20px;
        h4{
            font-size: 20px;
            font-weight: 100;
        }
        h3{
            font-size: 25px;
            font-weight: 700;
        }
        @media screen and (max-width: 1600px) {
            h4{
                font-size: 18px;
            }
            h3{
                font-size: 15px;
            }
        }
    }
}

.experience-card:hover{
    transition: 500ms;
    background-color: #880507a6;
}

.experience-detail-overlay{

    .experience-detail-body{
        justify-content: center;
        align-items: center;
        padding: 20px;
        border-radius: 10px;
        .data-container{
            .container-heading{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 20px;
                img{
                    border-radius: 5px;
                    width: 50px;
                }
            }
            h2{
                text-align: center;
                font-size: 20px;
                margin-bottom: 20px;
                border-bottom: 2px solid #880507fe;
                padding: 3px;
                width: max-content;
                margin: auto;

            }
            p{
                padding-top: 20px;
                text-align: center;
                font-size: 15px;
            }
            .role-heading{
                padding: 3px;
                border-bottom: 2px solid #880507fe;
                width: min-content;
                margin: auto;
            }
            .role-points{
                padding-top: 20px;
            }
        }
    }
}