.experience-card{
    display: block;
    justify-content: center;
    align-items: center;
    padding: 40px;
    width: 500px;
    height: 200px;
    border: 1px solid white;
    border-radius: 20px;
    text-align: center; 
    cursor: pointer;
    .logo-container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
    }
    .text-container{
        padding: 10px;
        h3{
            font-size: 25px;
            font-weight: 700;
        }
    }
}

.experience-card:hover{
    transition: 500ms;
    border: 3px solid #890506 ;
    // width: 550px;
}