.projects{
    position: relative;
    overflow: scroll;
    min-height: 100%;
    .project{
        position: relative;
        background-color: #88050750;
        min-height: 100%;
        margin: 0px 100px;
        padding-bottom: 20px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        overflow: hidden;
        @media screen and (max-width: 700px) {
            margin: 0px 20px;
        }

        .project-image{
            overflow: hidden; 
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            justify-content: center;
            img{
                width: 100%;
                height: 150px;
                // object-fit: cover;
            }
        }
        .description{
            padding: 40px 40px 20px 40px;
            .read-more{
                color: #f7c6c69f;
                width: max-content;
                cursor: pointer;
                &:hover{
                    color: #e33033f8;
                }
            }
        }
        .buttons{
            position: relative;
            bottom: 0px;
            display: flex;
            justify-content: center;
            align-items: center;     
            button{
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
                border-radius: 8px;
                padding: 10px;
                margin: 10px;
                .btn-ico{
                    padding-left: 5px;
                    font-size: 25px;
                }
            }
            .live-link-btn{
                background-color: white;
                color: black;
            }
            .repo-link-btn{
                border: 1px solid rgba(255, 255, 255, 0.293);
                background-color: black;
            }
            .inactive-link-btn{
                border: 1px solid rgba(255, 255, 255, 0.406);
                background-color: rgba(128, 128, 128, 0.439);
                color: white;
                cursor: not-allowed;
            }
        }
    }
    .project:hover{
            transition: 500ms;
            background-color: #880507a6;
        }
    .nav-buttons{
        display: flex;
        justify-content: center;
        align-items: center; 
        @media screen and (max-width: 700px) {
            margin: 40px 0px;
        }
        .buttons-container{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            margin: auto;
            bottom: 0px;
            span{
                transition: 500ms;
                color: white;
                padding: 5px;
                :hover{
                    transition: 500ms;
                    font-size: 18px;
                    padding: 0px;
                    color: red;
                }
            }

        }
        
    }
}

.read-more-modal{
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.882);
    display: flex;
    justify-content: center;
    align-items: center;
    .content-body{
        background-color: #88050750;
        padding: 30px;
        border-radius: 10px;
        width: 50%;
        text-align: center;
        @media screen and (max-width: 1300px) {
            width: 80%;
        }

        .header{
            font-size: 30px;
            font-weight: 900;
        }
        .description{
            padding: 40px 40px 20px 40px;
            .read-more{
                color: #ba10139f;
                cursor: pointer;
                &:hover{
                    color: #ba1013f8;
                }
            }
        }
        .buttons{
            position: relative;
            bottom: 0px;
            display: flex;
            justify-content: center;
            align-items: center;     
            button{
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
                border-radius: 8px;
                padding: 10px;
                margin: 10px;
                .btn-ico{
                    padding-left: 5px;
                    font-size: 25px;
                }
            }
            .live-link-btn{
                background-color: white;
                color: black;
            }
            .repo-link-btn{
                border: 1px solid rgba(255, 255, 255, 0.293);
                background-color: black;
            }
            .inactive-link-btn{
                border: 1px solid rgba(255, 255, 255, 0.406);
                background-color: rgba(128, 128, 128, 0.439);
                color: white;
                cursor: not-allowed;
            }
        }
    }
}